body{

}

.navigation{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu{
background-color: rgb(255, 242, 181 );
border: thick double #3C0D03;
text-align: left;
}

.menu1{
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

div.enfant
{
 display: none;
}

div.parent:hover .enfant{
	display:block;
}

#gauche{
  float: left;
}

#droite{
  float: right;
}

#formulaire{
  border: 1mm solid rgb(3, 3, 3);
}

#evenement{
  border: 1mm solid;
  background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#b1{
  width: 50%;
}
